table{
    border: 5px groove red;
}
td,th{
    border: 1px dashed blue;
}
tr:nth-child(even){
    background-color: lightgreen;
    color: crimson;
}
tr:nth-child(odd){
    background-color: lightslategray;
    color: crimson;
}